input[type="text"].sheet-output-message {
    background: #FFEE88;
    border    : none;
    left      : 0;
    position  :absolute;
    right     : 0;
    text-align: center;
    top       : 0;
    width     : 100%;
    z-index   :101;}

.sheet-hide-output {
    position:absolute;
    right   : 6px;
    top     : 6px;
    width   :auto;
    z-index : 103;}

input.sheet-hide-output {
    opacity:0;}

input[type="checkbox"].sheet-hide-output + span::before {
    content   : "x";
    display   : inline-block;
    font-size : 20px;
    height    : 10px;
    position  :absolute;
    right     : 7px;
    text-align: center;
    top       : 2px;
    width     : auto;
    z-index   : 102;}

input.sheet-hide-output:checked,
input.sheet-hide-output:checked + span,
input.sheet-hide-output:checked ~ .sheet-output-message {
    display:none;}

input.sheet-no-border {
    border:none;
    background:none;
    box-shadow:unset;}

.sheet-macro-show:not(:checked)~.sheet-macro {
    display:none;}

input[type="checkbox"].sheet-macro-show + span::before {
    margin-right: 4px;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "►";
    width: 10px;
    height: 10px;
    font-size: 10px;}

input[type="checkbox"].sheet-macro-show:checked + span::before {
    content: "▼";}

.sheet-secret-macro-show,
.sheet-secret-macro-show:not(:checked)~.sheet-macro {
    display:none;}

hr {
    border-color:black;}

input[type="text"], 
select {
    width:100%;
    margin:0;}

textarea {
    width:95%;}



/* *************************************************************************** */
/*                               Tab styling                                   */
/* Fake tabs style1 (reskinned radio button; fixed to work properly in firefox */

div.sheet-tab-content { display: none; }

input.sheet-tab[value="stats"] ~ div.sheet-tab1,
input.sheet-tab[value="powers"] ~ div.sheet-tab2,
input.sheet-tab[value="options"] ~ div.sheet-tab3,
input.sheet-tab[value="devices"] ~ div.sheet-tab11,
input.sheet-tab[value="advantages"] ~ div.sheet-tab12,
input.sheet-tab[value="equipment"] ~ div.sheet-tab13,
input.sheet-tab[value="all"] ~ div.sheet-tab99 {
    display: block;}

input.sheet-tab[value="stats"] ~ button[name="act_stats"],
input.sheet-tab[value="powers"] ~ button[name="act_powers"],
input.sheet-tab[value="options"] ~ button[name="act_options"],
input.sheet-tab[value="devices"] ~ button[name="act_devices"],
input.sheet-tab[value="advantages"] ~ button[name="act_advantages"],
input.sheet-tab[value="equipment"] ~ button[name="act_equipment"],
input.sheet-tab[value="all"] ~ button[name="act_all"] {
    background: #d1d1d1;}

input.sheet-tab {
    cursor  : pointer;
    height  : 24px;
    left    : 6px;
    margin  : 2.4px;
    opacity : 0;
    position: relative;
    top     : 8px;
    width   : 263px;
    z-index : 9999;}

span.sheet-tab {
     background : white;
     color      : black;
     display    : inline-block;
     font-size  : 13px;
     font-weight: bold;
     height     : 20px;
     margin-left: -263.4px;
     margin-top : 4px;
     position   : relative;
     text-align : center;
     width      : 259px;}

input.sheet-tab11, input.sheet-tab12, input.sheet-tab13, input.sheet-tab99 {
	width: 124px;}

span.sheet-tab11, span.sheet-tab12, span.sheet-tab13, span.sheet-tab99 {
     margin-left: -124.4px;
     width: 120px;}

input.sheet-tab::before {
    background         : #fff;
    background         : -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background         : -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background         : -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background         : -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background         : linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    border             : solid 1px #a8a8a8;
    border-bottom-color: black;
    content            : attr(title);
    display            : inline-block;
    font-size          : 18px;
    height             : 20px;
    text-align         : center;
    width              : 240px;}

input.sheet-tab:checked::before {
    background         : #dcdcdc;
    background         : -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background         : -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background         : -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background         : -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background         : linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;}

input.sheet-tab:not(:first-child)::before { border-left: none; }

div.sheet-tab-content {
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;}

.sheet-tab {
    display: inline-block;
    text-align: center;
    margin: -2px;
    padding: 2px;
    width: 124px;
    height: 24px;
    background-color: gray;
    border-top-left-radius: 1em 3em;
    border-top-right-radius: 1em 3em;
    border: solid thin gray;
    border-bottom: none;}



/* Options page select styling */
.sheet-small-label1 select {
    display: inline-block;
    margin-top: 10px;
    width: 110px;
    border: 1px;}


/*            Cassie's updates        */
button {
    border-bottom             : 2px solid #666;
    border-bottom-right-radius: 2px;
    border-color              : #aaa;
    border-radius             : 5px;
    border-right              : 3px solid #999;
    border-style              : outset;
}

button:hover {
    border-color: #fe1611;
    color       : #fe8412;
    font-weight : bold;
}

/* Remove the Die Icon */
button::before {
  display: none;}


/* ****************************************** */
/*          General Styling                   */
/* ****************************************** */
img {
    margin-bottom: 2px;
    margin-left  : 35%;
    max-height   : 100px;}

label {
    display: inline-block;
    font-size    : 0.8em;
    margin-bottom: 0px;
    padding-right: 0px;
    width: fit-content;}

textarea {
    min-height: 90px;
    resize: vertical;}

.charsheet {
    padding: 0px;
    width: 850px;}

div.sheet-2colrow div.sheet-col {
    margin-right: 1% !important;}

div.sheet-2colrow div.sheet-col:nth-of-type(2) {
    width: calc(52% - 20px);}

span.sheet-note {
    font-family: courier;
    font-size  : 10px;
    width      : 100%;}


/* ******************************************************* */
/*                   Section Specific styles               */
/* ******************************************************* */

div.sheet-section-abilities,
div.sheet-section-points,
div.sheet-section-defenses,
div.sheet-section-offense,
div.sheet-section-modifiers,
div.sheet-section-skills,
div.sheet-section-notes,
div.sheet-section-complications,
div.sheet-section-powers,
div.sheet-section-advantages,
div.sheet-section-wealth,
div.sheet-section-equipment,
div.sheet-section-import,
div.sheet-section-options {
    background: rgba(244,244,244,100); /* grey */
    border: 2px solid black;}

/* ************************************** */
/*            Details Section             */
/* **(General info box at top of sheet)** */
/* ************************************** */

div.sheet-section-details {
    border-style:solid;
    border-width:2px;
    display     : inline-block;
    padding     : 0.3%;}

div.sheet-section-details div.sheet-details-row input[type="text"],
div.sheet-section-details div.sheet-details-row input[type="number"] {
   border       : none;
   border-bottom: 1px solid #333;
   border-radius: 0px;}

div.sheet-section-details div.sheet-details-row input[type="number"]  {
    width: 3em;}

div.sheet-section-details div.sheet-details-row {
   padding: 0.5%}

div.sheet-section-details div.sheet-details-row:nth-of-type(1) b,
div.sheet-section-details div.sheet-details-row:nth-of-type(2) b,
div.sheet-section-details div.sheet-details-row:nth-of-type(3) b {
    margin-right: 1%;}

div.sheet-section-details div.sheet-details-row:nth-of-type(1) b:nth-of-type(1n+2),
div.sheet-section-details div.sheet-details-row:nth-of-type(2) b:nth-of-type(1n+2),
div.sheet-section-details div.sheet-details-row:nth-of-type(3) b:nth-of-type(1n+2)  {
    margin-left: 1%;}

div.sheet-section-details div.sheet-details-row:nth-of-type(1) input[type="text"] {
    margin-right: 2%;
    width: 30%;}

div.sheet-section-details div.sheet-details-row:nth-of-type(2) input[type="text"] {
    width: 10%;}

div.sheet-section-details div.sheet-details-row:nth-of-type(3) input[type="text"] {
    width: 23%;}

div.sheet-section-details div.sheet-details-row:nth-of-type(4) input[type="number"] {
    margin-right: 0px;
    width: 6%;}



/* ****************************** */
/*    Stats & Skills (page 1)     */
/* ****************************** */

/*         Abilities Section        */

div.sheet-section-abilities button[type="roll"] {
    /* margin-left  : 10%; */
    width: 40%;
}

div.sheet-section-abilities input[type="number"] {
    width: 10%;
}

div.sheet-section-abilities label {
    text-align   : center;
    width        : 10%;
}

div.sheet-section-abilities label:nth-of-type(1) {
    /* margin-left: 10%; */
    width: 40%;
}


/*        Power Points, Hero Points & Injuries Section   */
/* Starting & Earned Power Points */

div.sheet-section-points div.sheet-details-row{
    display: flex;
}

div.sheet-section-points div.sheet-details-row div:first-child {
    display: inline-block;
    width: 62%;}

div.sheet-section-points div.sheet-details-row div:nth-of-type(2) {
    width: 42%;}

div.sheet-section-points label{
    font-size: 0.8em;
    text-align: center;
    width: auto;}

div.sheet-section-points div:nth-of-type(1) label:nth-of-type(1) {
    margin-left: 3px;
    margin-right: 3px;}

div.sheet-section-points div:nth-of-type(1) label:nth-of-type(2) {
    margin-left: 8px;}

div.sheet-section-points div.sheet-details-row div:nth-of-type(1) {
    border-right: 2px solid black;}

/* Injuries Box */
div.sheet-section-points div:nth-of-type(2) label {
    padding-left: 7px}

div.sheet-section-points div:nth-of-type(2) input[type="number"],
div.sheet-section-points div:nth-of-type(2) label:nth-child(2) {
    margin-left: 5%;}

div.sheet-section-points input[type="number"] {
    margin-left: 12%;
    width: 5em;}

div.sheet-section-points input[type="number"]:nth-of-type(1) {
    margin-right: 2%;}



/*          Defense Section      */

div.sheet-section-defenses div.sheet-details-row{
    display:flex;
    justify-content: space-evenly;}

div.sheet-section-defenses div.sheet-details-row:nth-child(1){
    justify-content: center;}

div.sheet-section-defenses div.sheet-details-row:nth-of-type(1) label {
    font-size   : 1em;
    margin-right: 2%;
    padding-top: 3px;}

div.sheet-section-defenses div.sheet-details-row:nth-of-type(2) label:nth-of-type(1) {
    margin-left: 10%;
    margin-right: 8%;}

div.sheet-section-defenses input[type="number"] {
    width: 3.3em;}

div.sheet-section-defenses label {
    margin-left : 1%;
    margin-right: 1%;
    text-align: center;
    font-size: 0.8em;
    width: auto;}

/* Defense  -Total*/
div.sheet-section-defenses label:nth-of-type(3) {
    margin-left : 2%;
    margin-right: 3%;}

/* Defense  - Points */
div.sheet-section-defenses label:nth-of-type(4),
div.sheet-section-defenses label:nth-of-type(5) {
    margin-left : 3%;
    margin-right: 2%;}

div.sheet-section-defenses b > label {
    font-size   : 1em;
    margin-right: 2%;
    text-align  : center;
    width       : 13%;}

/* Defense  - The Labels for Names */
div.sheet-section-defenses button {
    width: 22%;}



/*        Offense  Section  */
div.sheet-section-offense div.sheet-details-row{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.3em;}

div.sheet-section-offense div.sheet-details-row:nth-child(2){
    justify-content: center;}

    /* Name */
div.sheet-section-offense input[type="text"]:nth-of-type(1) {
    width        : 27%;}

div.sheet-section-offense input[name="attr_macro-text-show"],
div.sheet-section-powers input[name="attr_macro-text-show"] {
    cursor  : pointer;
    height  : 16px;
    left    : 5px;
    margin  : -10px;
    opacity : 0;
    position: relative;
    top     : -1px;
    width   : 5%;
    z-index : 1;}

div.sheet-section-offense select {
    margin-bottom: 5px;
    width: 25%;}


/*       Modifiers Section   */
    /* Name */
div.sheet-section-modifiers div.sheet-details-row:nth-of-type(1) label:nth-of-type(1) {
    margin-left : 22%;
    margin-right: 34%;}

    /* Defense */
div.sheet-section-modifiers div.sheet-details-row:nth-of-type(1) label:nth-of-type(2),
div.sheet-section-modifiers div.sheet-details-row:nth-of-type(1) label:nth-of-type(3) {
    margin-right: 3%;}

div.sheet-section-modifiers div.sheet-details-row {
    margin-bottom: 3px;}

/* Fixes top row for firefox */
div.sheet-section-modifiers div.sheet-details-row:first-child {
    display:flex;}

div.sheet-section-modifiers b {
    width: 60%;}

div.sheet-section-modifiers b > label {
    font-size   : 1em;
    margin-right: 12%;
    text-align  : center;
    width       : 50%;}



/*        Skills Section       */
div.sheet-section-skills {
    padding: 0.5%;}

div.sheet-section-skills button[type="roll"]:not(.sheet-die-show) {
    margin: 0px 0px;
    width: 34%;}

div.sheet-section-skills b > label {
    font-size   : 1em;
    margin-left : 2%;
    margin-right: 2%;
    width       : 8%;}

div.sheet-section-skills div.sheet-range-header b > label {
    margin-left: 6%;
    width: 25%;}

/* Fixes top row for firefox */
div.sheet-section-skills div.sheet-details-row:first-child {
    display:flex;}

div.sheet-section-skills div.sheet-details-row:nth-of-type(1) label:nth-of-type(1) {
    margin-left: 15%;
    margin-right: 15%;}

div.sheet-section-skills label:nth-of-type(2) {
    margin-left: 1%;
    margin-right: 5%;}

div.sheet-section-skills label:nth-of-type(3),
div.sheet-section-skills label:nth-of-type(4),
div.sheet-section-skills label:nth-of-type(5) {
    margin-right: 4.5%;}

/* Skill section - labels & misc */
div.sheet-speciality-header label {
    font-size   : 1em;
    font-weight : bold;}

div.sheet-section-skills div.sheet-details-row.sheet-speciality{
    display:flex;}

div.sheet-speciality-header label {
    margin-left : 10%;
    margin-right: 5%;
    width: 100px}

div.sheet-speciality input[type="text"] {
    margin-right: 10%;
    width       : 32%;}

div.sheet-total-row {
    margin-top: 5px;}

div.sheet-total-row b {
    margin-left : 10%;
    margin-right: 22%;}



/*       Notes & Conditions Section  */

div.sheet-section-notes textarea {
    margin-left: 1%;}



/*           Motivations & Complications Section */
div.sheet-section-complications {
    padding: 1%;}

div.sheet-section-complications input[type="text"] {
    margin-bottom: 5px;
    width: 96%;}


/* ************************************* */
/*  Power, Advantage & Equpment (page 2) */
/*             Options          (page 3) */
/* ************************************* */


div.sheet-section-powers input[type="text"]:nth-of-type(1), 
div.sheet-section-advantages input[type="text"],
div.sheet-section-equipment input[type="text"] {
    width: 67%;}

div.sheet-section-powers label{
    width: auto;}

div.sheet-section-powers label:nth-of-type(1) {
    font-size: 1em;
    margin-right: 58%;}

div.sheet-section-powers label:nth-of-type(3) {
    text-align: center;
    width: 6%;}

div.sheet-section-powers label:nth-of-type(3),
div.sheet-section-powers label:nth-of-type(4)  {
    margin-left: 0.8%;
    margin-right: 0.7%;}

div.sheet-section-powers label:nth-of-type(5)  {
    margin-left: 0.8%;}

div.sheet-macro b {
    margin-right: 5%;}

div.sheet-section-powers,
div.sheet-section-advantages,
div.sheet-section-equipment,
div.sheet-section-options, {
    padding: 0.1% 1%;}

div.sheet-section-advantages textarea,
div.sheet-section-equipment textarea {
    margin-top: 5px;}

div.sheet-section-options{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    padding: 20px 0px 25px 90px;}

div.sheet-section-options label{
    width: 150px;}

div.sheet-section-options select {
    border: 1px solid black;}

div.sheet-section-options div.sheet-details-row{
    width: 230px;
    margin-bottom: 5px;}


/* Show the button for buttons without labels */
button.sheet-die-show::before {
    display: block;}

/* overrides button in few places, 'fit-content' gives weird results on firefox */
button.sheet-die-show {
    width: fit-content !important;}



/* ****************************** */
/*        Sheet footer            */
/* ****************************** */

div.sheet-mnm-footer {
    background-color: rgba(244,244,244,100);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7332+0,ff7332+100&0.01+1,1+75 */
    background-image: -moz-linear-gradient(left,  rgba(243,112,36,0.01) 0%, rgba(243,112,36,0.01) 10%, rgba(243,112,36,1) 95%, rgba(243,112,36,1) 100%), url('http://fyndhal.woobsha.com/graphics/circuit-board-hero-patterns-orange.png'); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(left,  rgba(243,112,36,0.01) 0%,rgba(243,112,36,0.01) 10%,rgba(243,112,36,1) 95%,rgba(243,112,36,1) 100%), url('http://fyndhal.woobsha.com/graphics/circuit-board-hero-patterns-orange.png'); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to right,  rgba(243,112,36,0.01) 0%,rgba(243,112,36,0.01) 10%,rgba(243,112,36,1) 95%,rgba(243,112,36,1) 100%), url('http://fyndhal.woobsha.com/graphics/circuit-board-hero-patterns-orange.png'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ff7332', endColorstr='#ff7332',GradientType=1 ); /* IE6-9 */
    min-height: 50px;
}
.sheet-mnm-logo {
    height: 48px;
    width: auto;
    float: right;
    margin: 1px;
}