<input class="sheet-hide-output" type="checkbox" name="attr_hide-output" value="1" checked="true" /><span></span>
<input class="sheet-output-message" type="text" name="attr_output-message" title="output-message" />

<div class="sheet-row">

    <!-- Logo -->
    <img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Mutants%20and%20Masterminds%203E/logo.jpg" title="Mutants and Masterminds Character Sheet"/>

    <!-- --------------- -->
    <!-- Details Section -->
    <!-- --------------- -->
    <div class="section-details">
		<div class="details-row">
    		<b>Hero:</b><input type="text" name="attr_character_name" title="character_name"/>
    		<b>Identity:</b><input type="text" name="attr_identity-name" title="identity-name"/>
    		<input type="radio" name="attr_identity-status" title="identity-status" value="0"/><b> Secret</b>
    		<input type="radio" name="attr_identity-status" title="identity-status" value="1"/><b> Public</b>
		</div>
		<div class="details-row">
			<b>Gender:</b><input type="text" name="attr_gender" title="gender" value=""/>
			<b>Age:</b><input type="number" name="attr_age" title="age" value="0"/>
			<b>Height:</b><input type="text" name="attr_height" title="height"/>
            <b>Weight:</b><input type="text" name="attr_weight" title="weight"/>
            <b>Eyes:</b><input type="text" name="attr_eyes" title="eyes"/>
			<b>Hair:</b><input type="text" name="attr_hair" title="hair"/>
		</div>
		<div class="details-row">
			<b>Group Affiliation:</b><input type="text" name="attr_group" title="group"/>
			<b>Base of Operations:</b><input type="text" name="attr_base" title="base"/>
			<b>Power Level:</b><input type="number" name="attr_power-level" title="power-level" value="0"/>
		</div>
		<div class="details-row">
            <b>Power Point Totals:</b>
			<b>Abilities</b><input type="number" name="attr_ability-points" title="ability-points" value="(@{total-ability-score} * 2)" disabled/>
            <b>+</b>
			<b>Powers</b><input type="number" name="attr_power-points" title="power-points" value="0"/><b>+</b>
			<b>Advantages</b><input type="number" name="attr_advantage-points" title="advantage-points" value="0"/>
			<b>+</b>
			<b>Skills</b><input type="number" name="attr_skill-points" title="skill-points" value="(@{total-skill-ranks} / 2)" disabled/>
			<b>+</b>
			<b>Defenses</b>
			<input type="number" name="attr_defense-points" title="defense-points" value="@{total-defense-points}" disabled/>
			<b>=</b>
			<input type="number" name="attr_total-power-points" title="attr_total-power-points" value="(@{ability-points} + @{power-points} + @{advantage-points} + @{skill-points} + @{defense-points})" disabled/><b>/</b>
            <input type="number" name="attr_max-power-points" title="attr_max-power-points" value="(@{starting-power-points} + @{power-points-earned})" disabled/><b> *</b>
		</div>
	</div>
</div>
<span class="note"><b>* Total Power Points Earned = Starting Power Points + Power Points Earned</b></span>
<br />

<input type="hidden" name="attr_tab" class="tab" value="stats"/>
<button class="tab-button" type="action" name="act_stats">Stats & Skills</button>
<button class="tab-button" type="action" name="act_powers">Powers, Advantages, & Equipment</button>
<button class="tab-button" type="action" name="act_options">Options</button>


<!-- ------------------------------------- -->
<!--       Page 1 (Stats & Skills)         -->
<!-- ------------------------------------- -->
<div class="sheet-tab-content sheet-tab1">
    <div class="sheet-2colrow">
    	<div class="sheet-col">

            <!-- Abilities -->
			<div class="section-abilities">
				<div>
					<label>THE ABILITIES</label>
				</div>
				<div class="details-row">
					<label>Attribute</label>
					<label>Mod</label>
					<label>Total</label>
                    <label>Base</label>
                    <label>Misc</label>
				</div>
				<!--Strength-->
				<div class="details-row">
					<button type="roll" name="roll_strength-roll" title="%{strength-roll}" value="@{who-stat} Strength Result: [[@{die_type}+(@{strength-mod})]]">Strength</button>
					<input type="number" name="attr_strength-mod" title="strength-mod" value="(floor((@{strength-total} - 10)/2))" disabled/>
					<input type="number" name="attr_strength-total" title="strength-total" value="(@{strength-base} + @{strength-misc})" disabled/>
					<input type="number" name="attr_strength-base" title="strength" value="10"/>
					<input type="number" name="attr_strength-misc" title="strength-misc" value="0"/>
				</div>
				<!--Dexterity-->
				<div class="details-row">
					<button type="roll" name="roll_dexterity-roll" title="%{dexterity-roll}" value="@{who-stat} Dexterity Result: [[@{die_type}+(@{dexterity-mod})]]">Dexterity</button>
					<input type="number" name="attr_dexterity-mod" title="dexterity-mod" value="(floor((@{dexterity-total} - 10)/2))" disabled/>
					<input type="number" name="attr_dexterity-total" title="dexterity-total" value="(@{dexterity-base} + @{dexterity-misc})" disabled/>
					<input type="number" name="attr_dexterity-base" title="dexterity" value="10"/>
					<input type="number" name="attr_dexterity-misc" title="dexterity-misc" value="0"/>
				</div>
				<!--Constitution-->
				<div class="details-row">
					<button type="roll" name="roll_constitution-roll" title="%{constitution-roll}" value="@{who-stat} Constitution Result: [[@{die_type}+(@{constitution-mod})]]">Constitution</button>
					<input type="number" name="attr_constitution-mod" title="constitution-mod" value="(floor((@{constitution-total} - 10)/2))" disabled/>
					<input type="number" name="attr_constitution-total" title="constitution-total" value="(@{constitution-base} + @{constitution-misc})" disabled/>
					<input type="number" name="attr_constitution-base" title="constitution" value="10"/>
					<input type="number" name="attr_constitution-misc" title="constitution-misc" value="0"/>
				</div>
				<!--Inteligence-->
				<div class="details-row">
					<button type="roll" name="roll_intelligence-roll" title="%{intelligence-roll}" value="@{who-stat} Inteligence Result: [[@{die_type}+(@{intelligence-mod})]]">Inteligence</button>
					<input type="number" name="attr_intelligence-mod" title="intelligence-mod" value="(floor((@{intelligence-total} - 10)/2))" disabled/>
					<input type="number" name="attr_intelligence-total" title="intelligence-total" value="(@{intelligence-base} + @{intelligence-misc})" disabled/>
					<input type="number" name="attr_intelligence-base" title="intelligence" value="10"/>
					<input type="number" name="attr_intelligence-misc" title="intelligence-misc" value="0"/>
				</div>
				<!--Wisdom-->
				<div class="details-row">
					<button type="roll" name="roll_wisdom-roll" title="%{wisdom-roll}" value="@{who-stat} Wisdom Result: [[@{die_type}+(@{wisdom-mod})]]">Wisdom</button>
					<input type="number" name="attr_wisdom-mod" title="wisdom-mod" value="(floor((@{wisdom-total} - 10)/2))" disabled/>
					<input type="number" name="attr_wisdom-total" title="wisdom-total" value="(@{wisdom-base} + @{wisdom-misc})" disabled/>
					<input type="number" name="attr_wisdom-base" title="wisdom" value="10"/>
					<input type="number" name="attr_wisdom-misc" title="wisdom-misc" value="0"/>
				</div>
				<!--Charisma-->
				<div class="details-row">
					<button type="roll" name="roll_charisma-roll" title="%{charisma-roll}" value="@{who-stat} Charisma Result: [[@{die_type}+(@{charisma-mod})]]">Charisma</button>
					<input type="number" name="attr_charisma-mod" title="charisma-mod" value="(floor((@{charisma-total} - 10)/2))" disabled/>
					<input type="number" name="attr_charisma-total" title="charisma-total" value="(@{charisma-base} + @{charisma-misc})" disabled/>
					<input type="number" name="attr_charisma-base" title="charisma" value="10"/>
					<input type="number" name="attr_charisma-misc" title="charisma-misc" value="0"/>
				</div>
				<div>
					<label>Power Points spent</label>
					<!-- <input type="hidden" name="attr_total-ability-score" value="(@{strength} + @{dexterity} + @{constitution} + @{intelligence} + @{wisdom} + @{charisma} - 60)" disabled/> -->
					<input name="attr_total-ability-score" value="(@{strength-base} + @{dexterity-base} + @{constitution-base} + @{intelligence-base} + @{wisdom-base} + @{charisma-base} - 60)" disabled/>
				</div>
			</div>
            <br />

            <!-- Power Points -->
			<div class="section-points">
				<div class="details-row">
                    <div>
                        <label>Starting Power Points</label>
                        <label>Earned Power Points</label>                           
                        <br />
                        <input type="number" name="attr_starting-power-points" title="starting-power-points" value="0"/>
                        <input type="number" name="attr_power-points-earned" title="power-points-earned" value="0"/>
                    </div>
                    <div>
                        <label>Hero Points</label>
                        <label>Injuries</label>                            
                        <br />
    					<input type="number" name="attr_hero-points" title="hero-points" value="0"/>
    					<input type="number" name="attr_injuries" title="injuries" value="0"/>
                    </div>
				</div>
			</div>
    		<br />

            <!-- Defense -->
            <div class="section-defenses">
				<div>
					<label>SAVING THROWS</label>
				</div>
				<!-- <div class="details-row">
                    <label>Defense - Dodge DC</label><input type="number" name="attr_dodge" title="dodge" value="(@{dodge} + 10)" disabled/> 
                    <label>Parry DC</label><input type="number" name="attr_parry" title="parry" value="(@{parry} + 10)" disabled/>
                </div> -->
				<div class="details-row">
					<label>Name</label>
					<label>Ability Name</label>
					<label>Total</label>
					<label>Points</label>
					<label>Ability</label>
					<label>Misc</label>
				</div>
				<div class="details-row">
					<button type="roll" name="roll_Toughness" title="Toughness" value="@{who-combat} Toughness result: [[@{die_type} + @{toughness}]]">Toughness</button>
					<b><label>CON</label></b>
					<input type="number" name="attr_toughness" title="toughness" value="(@{toughness-points} + @{constitution-mod} + @{toughness-misc} + (-1 * abs(@{injuries})))" disabled/>
					<input type="number" name="attr_toughness-points" title="toughness-points" value="0" disabled/>
					<input type="number" name="attr_toughness-ability" title="constitution" value="@{constitution-mod}" disabled/>
					<input type="number" name="attr_toughness-misc" title="toughness-misc" value="0"/>
				</div>
				<div class="details-row">
					<button type="roll" name="roll_Fortitude" title="Fortitude" value="@{who-combat} Fortitude result: [[@{die_type} + @{fortitude}]]">Fortitude</button>
					<b><label>CON</label></b>
					<input type="number" name="attr_fortitude" title="fortitude" value="(@{fortitude-points} + @{constitution-mod} + @{fortitude-misc})" disabled/>
					<input type="number" name="attr_fortitude-points" title="fortitude-points" value="0"/>
					<input type="number" name="attr_fortitude-ability" title="constitution" value="@{constitution-mod}" disabled/>
					<input type="number" name="attr_fortitude-misc" title="fortitude-misc" value="0"/>
				</div>
				<div class="details-row">
					<button type="roll" name="roll_Reflex" title="Reflex" value="@{who-combat} Dodge result: [[@{die_type} + @{reflex}]]">Reflex</button>
					<b><label>DEX</label></b>
					<input type="number" name="attr_reflex" title="reflex" value="(@{reflex-points} + @{dexterity-mod} + @{reflex-misc} + @{Total_Defenses_Mod})" disabled/>
                    <input type="number" name="attr_reflex-points" title="reflex-points" value="0"/>
					<input type="number" name="attr_reflex-ability" title="dexterity" value="@{dexterity-mod}" disabled/>
					<input type="number" name="attr_reflex-misc" title="reflex-misc" value="0"/>
				</div>
				<div class="details-row">
					<button type="roll" name="roll_Will" title="Will" value="@{who-combat} Will result: [[@{die_type} + @{will}]]">Will</button>
					<b><label>WIS</label></b>
					<input type="number" name="attr_will" title="will" value="(@{will-points} + @{wisdom-mod} + @{will-misc})" disabled/>
					<input type="number" name="attr_will-points" title="will-points" value="0"/>
					<input type="number" name="attr_will-ability" title="wisdom" value="@{wisdom-mod}" disabled/>
					<input type="number" name="attr_will-misc" title="will-misc" value="0"/>
				</div>
				<!-- <input type="hidden" name="attr_total-defense-points" value="(@{toughness-points} + @{fortitude-points} + @{reflex-points} + @{will-points})" disabled/> -->
				<div>
					<label>Power Points spent</label>
					<input name="attr_total-defense-points" value="(@{toughness-points} + @{fortitude-points} + @{reflex-points} + @{will-points})" disabled/>
				</div>
    		</div>
            <br />

            <!-- Offense -->
            <div class="section-offense">
                <div class="details-row">
                    <b>Offense</b>
                </div>
                <div class="details-row">
                    <button type="roll" name="roll_Initiative" title="Initiative" value="@{who-initiative} &{template:default} {{name= @{character_name}'s Initiative}} {{Result: [[@{die_type} + @{initiative} &amp;{tracker}]]}}">Initiative</button>
                    <input type="number" name="attr_initiative" title="initiative" value="(@{initiative-misc} + @{agility-mod})" disabled/>
                    <b>=</b>
                    <input type="number" name="attr_initiative-misc" title="initiative-misc" value="0"/></span>
                    <b>+</b>
                    <input type="number" name="attr_initiative-ability" title="agility" value="@{agility-mod}" disabled/>    
                </div>

    			<fieldset class="repeating_attacks">
    				<button class="die-show" type="roll" name="roll_attack-roll" title="repeating_attack_X_attack-roll (NOT USABLE IN MACROS)" value="@{macro-text}"></button>
    				<input type="text" name="attr_name" title="Attack Name" value="Name"/>
    				<input type="number" name="attr_bonus" title="Attack Bonus" value="0"/>
					<input type="number" name="attr_crit_rate" title="Crit Target" value="20"/>
					<input type="number" name="attr_effect_ranks" title="Effect Ranks" value="0"/>
					<select name="attr_save_base" title="Save Type">
						<option value="10">Dodge</option>
						<option value="10">Parry</option>
						<option value="15" selected>Toughness</option>
						<option value="10">Fortitude</option>
						<option value="10">Will</option>
                    </select>
                    <br />
    				<input type="text" name="attr_effect" title="Effect Names" value="Effect notes go here"/>
                    <br />
    				<b>Show Macro Text?</b>
    				<input type="checkbox" class="sheet-macro-show" title="repeating_attacks_X_macro-text-show" name="attr_macro-text-show" value="1" /><span></span>
    				<textarea class="sheet-macro" title="repeating_attacks_X_macro-text" name="attr_macro-text">@{who-combat} &{template:default} {{name= @{name}}} {{Result=[[@{die_type}cs>@{crit_rate} + @{bonus} + @{Total_Attack_Mod}]] }} {{Effect= DC [[@{save_base} + @{effect_ranks} + @{Total_Effect_Mod}]]}} {{Notes= @{effect}}}</textarea>
    			</fieldset>
    		</div>
            <br />

            <!-- Modifiers -->
			<div class="section-modifiers">
				<div class="details-row">
					<label>Name</label>
					<label>Attack</label>
					<label>Defense</label>
					<label>Effect</label>
				</div>
				<div class="details-row">
					<b><label>Accurate Attack</label></b>
                    <input type="number" name="attr_AccAtk_Attack" title="Accurate-Attack Attack Bonus" value="0"/>
					<input type="number" name="attr_AccAtk_Defenses" title="Accurate-Attack Defense Bonus" value="0" disabled/>
					<input type="number" name="attr_AccAtk_Effect" title="Accurate Attack Effect Penalty" value="(-1)*@{AccAtk_Attack}" disabled/>
				</div>
				<div class="details-row">
					<b><label>All-out Attack</label></b>
					<input type="number" name="attr_AOAtk_Attack" title="All-out Attack Attack Bonus" value="0"/>
					<input type="number" name="attr_AOAtk_Defenses" title="All0out Attack Defense Penalty" value="(-1)*@{AOAtk_Attack}" disabled/>
					<input type="number" name="attr_AOAtk_Effect" title="All-out Attack Effect Bonus" value="0" disabled/>
				</div>
				<div class="details-row">
					<b><label>Defensive Attack</label></b>
					<input type="number" name="attr_DefAtk_Attack" title="Defensive Attack Attack Penalty" value="(-1)*@{DefAtk_Defenses}" disabled/>
					<input type="number" name="attr_DefAtk_Defenses" title="Defensive Attack Defense Bonus" value="0" />
					<input type="number" name="attr_DefAtk_Effect" title="Defensive Attack Effect Penalty" value="0"disabled/>
				</div>
				<div class="details-row">
					<b><label>Power Attack</label></b>
					<input type="number" name="attr_PwrAtk_Attack" title="Power Attack-Attack Penalty" value="0"/>
					<input type="number" name="attr_PwrAtk_Defenses" title="Power Attack Defense Bonus" value="0" disabled/>
					<input type="number" name="attr_PwrAtk_Effect" title="Power Attack Effect Bonus" value="(-1)*@{PwrAtk_Attack}" disabled/>
				</div>
				<div class="details-row">
					<b><label>Conditions</label></b>
					<input type="number" name="attr_Cnd_Attack" title="Condition Attack Modifier" value="0"/>
					<input type="number" name="attr_Cnd_Defenses" title="Condition Defense Modifier" value="0" disabled/>
					<input type="number" name="attr_Cnd_Effect" title="Condition Effect Modifier" value="0" />
				</div>
				<div class="details-row">
					<b><label>Totals</label></b>
					<input type="number" name="attr_Total_Attack_Mod" title="Combined Attack Modifier" value="(@{AccAtk_Attack} + @{AOAtk_Attack} + @{DefAtk_Attack} + @{PwrAtk_Attack} + @{Cnd_Attack})" disabled/>
					<input type="number" name="attr_Total_Defenses_Mod" title="Combined Defense Modifier" value="(@{AccAtk_Defenses} + @{AOAtk_Defenses} + @{DefAtk_Defenses} + @{PwrAtk_Defenses} + @{Cnd_Defenses})" disabled/>
					<input type="number" name="attr_Total_Effect_Mod" title="Combined Effect Modifier" value="(@{AccAtk_Effect} + @{AOAtk_Effect} + @{DefAtk_Effect} + @{PwrAtk_Effect} + @{Cnd_Effect})" disabled/>
				</div>
			</div>
        </div>
        <div class="sheet-col">
            <!-- Skills -->
            <div class="sheet-section-skills">
				<div class="details-row">
					<label>Name</label>
                    <label>Ability</label>
					<label>Total</label>
					<label>Ability</label>
					<label>Ranks</label>
					<label>Other</label>
				</div>
				<!--Acrobatics-->
				<div class="details-row">
					<button type="roll" name="roll_Acrobatics-Check" title="Acrobatics-Check" value="@{who-skill} Acrobatics check: [[@{die_type} + @{Acrobatics}]]">Acrobatics</button>
                    <b><label>DEX</label></b>
					<input type="number" name="attr_Acrobatics" title="Acrobatics" value="(@{Acrobatics-ability} + @{Acrobatics-ranks} + @{Acrobatics-other})" disabled/>
					<input type="number" name="attr_Acrobatics-ability" title="Acrobatics-ability" value="@{dexterity-mod}" disabled/>
					<input type="number" name="attr_Acrobatics-ranks" title="Acrobatics-ranks" value="0"/>
					<input type="number" name="attr_Acrobatics-other" title="Acrobatics-other" value="0"/>
				</div>
				<!--Bluff-->
				<div class="details-row">
					<button type="roll" name="roll_Bluff-Check" title="Bluff-Check" value="@{who-skill} Bluff check: [[@{die_type} + @{Bluff}]]">Bluff</button>
                    <b><label>CHA</label></b>
					<input type="number" name="attr_Bluff" title="Bluff" value="(@{Bluff-ability} + @{Bluff-ranks} + @{Bluff-other})" disabled/>
					<input type="number" name="attr_Bluff-ability" title="Bluff-ability" value="@{charisma-mod}" disabled/>
					<input type="number" name="attr_Bluff-ranks" title="Bluff-ranks" value="0"/>
					<input type="number" name="attr_Bluff-other" title="Bluff-other" value="0"/>
				</div>
				<!--Climb-->
				<div class="details-row">
					<button type="roll" name="roll_Climb-Check" title="Climb-Check" value="@{who-skill} Climb check: [[@{die_type} + @{Climb}]]">Climb</button>
                    <b><label>STR</label></b>
					<input type="number" name="attr_Climb" title="Climb" value="(@{Climb-ability} + @{Climb-ranks} + @{Climb-other})" disabled/>
					<input type="number" name="attr_Climb-ability" title="Climb-ability" value="@{strength-mod}" disabled/>
					<input type="number" name="attr_Climb-ranks" title="Climb-ranks" value="0"/>
					<input type="number" name="attr_Climb-other" title="Climb-other" value="0"/>
				</div>
				<!--Computers-->
				<div class="details-row">
					<button type="roll" name="roll_Computers-Check" title="Computers-Check" value="@{who-skill} Computers check: [[@{die_type} + @{Computers}]]">Computers</button>
                    <b><label>INT</label></b>
					<input type="number" name="attr_Computers" title="Computers" value="(@{Computers-ability} + @{Computers-ranks} + @{Computers-other})" disabled/>
					<input type="number" name="attr_Computers-ability" title="Computers-ability" value="@{intelligence-mod}" disabled/>
					<input type="number" name="attr_Computers-ranks" title="Computers-ranks" value="0"/>
					<input type="number" name="attr_Computers-other" title="Computers-other" value="0"/>
				</div>
				<!--Concentration-->
				<div class="details-row">
					<button type="roll" name="roll_Concentration-Check" title="Concentration-Check" value="@{who-skill} Concentration check: [[@{die_type} + @{Concentration}]]">Concentration</button>
                    <b><label>WIS</label></b>
					<input type="number" name="attr_Concentration" title="Concentration" value="(@{Concentration-ability} + @{Concentration-ranks} + @{Concentration-other})" disabled/>
					<input type="number" name="attr_Concentration-ability" title="Concentration-ability" value="@{wisdom-mod}" disabled/>
					<input type="number" name="attr_Concentration-ranks" title="Concentration-ranks" value="0"/>
					<input type="number" name="attr_Concentration-other" title="Concentration-other" value="0"/>
				</div>
				<!--Craft-->
				<div class="details-row speciality-header">
					<label>Craft</label>
                    <b><label>INT</label></b>
					<fieldset class="repeating_craft"> 
						<div class="details-row">
							<button class="die-show" type="roll" name="roll_Craft-Check" title="Craft-Check" value="@{who-skill} @{Craft-name} check: [[@{die_type} + @{Craft}]]"></button>
							<input type="text" name="attr_Craft-name" title="Craft-name"/>
							<input type="number" name="attr_Craft" title="Craft" value="(@{Craft-ability} + @{Craft-ranks} + @{Craft-other})" disabled/>
							<input type="number" name="attr_Craft-ability" title="Craft-ability" value="@{intelligence-mod}" disabled/>
							<input type="number" name="attr_Craft-ranks" title="Craft-ranks" value="0"/>
							<input type="number" name="attr_Craft-other" title="Craft-other" value="0"/>
						</div>
					</fieldset>
				</div>
				<!--Diplomacy-->
				<div class="details-row">
					<button type="roll" name="roll_Diplomacy-Check" title="Diplomacy-Check" value="@{who-skill} Diplomacy check: [[@{die_type} + @{Diplomacy}]]">Diplomacy</button>
                    <b><label>CHA</label></b>
					<input type="number" name="attr_Diplomacy" title="Diplomacy" value="(@{Diplomacy-ability} + @{Diplomacy-ranks} + @{Diplomacy-other})" disabled/>
					<input type="number" name="attr_Diplomacy-ability" title="Diplomacy-ability" value="@{charisma-mod}" disabled/>
					<input type="number" name="attr_Diplomacy-ranks" title="Diplomacy-ranks" value="0"/>
					<input type="number" name="attr_Diplomacy-other" title="Diplomacy-other" value="0"/>
				</div>
				<!--Disable Device-->
				<div class="details-row">
					<button type="roll" name="roll_DisableDevice-Check" title="DisableDevice-Check" value="@{who-skill} DisableDevice check: [[@{die_type} + @{DisableDevice}]]">Disable Device</button>
                    <b><label>INT</label></b>
					<input type="number" name="attr_DisableDevice" title="DisableDevice" value="(@{DisableDevice-ability} + @{DisableDevice-ranks} + @{DisableDevice-other})" disabled/>
					<input type="number" name="attr_DisableDevice-ability" title="DisableDevice-ability" value="@{intelligence-mod}" disabled/>
					<input type="number" name="attr_DisableDevice-ranks" title="DisableDevice-ranks" value="0"/>
					<input type="number" name="attr_DisableDevice-other" title="DisableDevice-other" value="0"/>
				</div>
				<!--Disguise-->
				<div class="details-row">
					<button type="roll" name="roll_Disguise-Check" title="Disguise-Check" value="@{who-skill} Disguise check: [[@{die_type} + @{Disguise}]]">Disguise</button>
                    <b><label>CHA</label></b>
					<input type="number" name="attr_Disguise" title="Disguise" value="(@{Disguise-ability} + @{Disguise-ranks} + @{Disguise-other})" disabled/>
					<input type="number" name="attr_Disguise-ability" title="Disguise-ability" value="@{charisma-mod}" disabled/>
					<input type="number" name="attr_Disguise-ranks" title="Disguise-ranks" value="0"/>
					<input type="number" name="attr_Disguise-other" title="Disguise-other" value="0"/>
				</div>
				<!--Drive-->
				<div class="details-row">
					<button type="roll" name="roll_Drive-Check" title="Drive-Check" value="@{who-skill} Drive check: [[@{die_type} + @{Drive}]]">Drive</button>
					<b><label>DEX</label></b>
					<input type="number" name="attr_Drive" title="Drive" value="(@{Drive-ability} + @{Drive-ranks} + @{Drive-other})" disabled/>
					<input type="number" name="attr_Drive-ability" title="Drive-ability" value="@{dexterity-mod}" disabled/>
					<input type="number" name="attr_Drive-ranks" title="Drive-ranks" value="0"/>
					<input type="number" name="attr_Drive-other" title="Drive-other" value="0"/>
				</div>
				<!--Escape Artist-->
				<div class="details-row">
					<button type="roll" name="roll_EscapeArtist-Check" title="EscapeArtist-Check" value="@{who-skill} EscapeArtist check: [[@{die_type} + @{EscapeArtist}]]">Escape Artist</button>
					<b><label>DEX</label></b>
					<input type="number" name="attr_EscapeArtist" title="EscapeArtist" value="(@{EscapeArtist-ability} + @{EscapeArtist-ranks} + @{EscapeArtist-other})" disabled/>
					<input type="number" name="attr_EscapeArtist-ability" title="EscapeArtist-ability" value="@{dexterity-mod}" disabled/>
					<input type="number" name="attr_EscapeArtist-ranks" title="EscapeArtist-ranks" value="0"/>
					<input type="number" name="attr_EscapeArtist-other" title="EscapeArtist-other" value="0"/>
				</div>
				<!--Gather Information-->
				<div class="details-row">
					<button type="roll" name="roll_GatherInformation-Check" title="GatherInformation-Check" value="@{who-skill} GatherInformation check: [[@{die_type} + @{GatherInformation}]]">Gather Information</button>
                    <b><label>CHA</label></b>
					<input type="number" name="attr_GatherInformation" title="GatherInformation" value="(@{GatherInformation-ability} + @{GatherInformation-ranks} + @{GatherInformation-other})" disabled/>
					<input type="number" name="attr_GatherInformation-ability" title="GatherInformation-ability" value="@{charisma-mod}" disabled/>
					<input type="number" name="attr_GatherInformation-ranks" title="GatherInformation-ranks" value="0"/>
					<input type="number" name="attr_GatherInformation-other" title="GatherInformation-other" value="0"/>
				</div>
				<!--Handle Animal-->
				<div class="details-row">
					<button type="roll" name="roll_HandleAnimal-Check" title="HandleAnimal-Check" value="@{who-skill} HandleAnimal check: [[@{die_type} + @{HandleAnimal}]]">Handle Animal</button>
                    <b><label>CHA</label></b>
					<input type="number" name="attr_HandleAnimal" title="HandleAnimal" value="(@{HandleAnimal-ability} + @{HandleAnimal-ranks} + @{HandleAnimal-other})" disabled/>
					<input type="number" name="attr_HandleAnimal-ability" title="HandleAnimal-ability" value="@{charisma-mod}" disabled/>
					<input type="number" name="attr_HandleAnimal-ranks" title="HandleAnimal-ranks" value="0"/>
					<input type="number" name="attr_HandleAnimal-other" title="HandleAnimal-other" value="0"/>
				</div>
				<!--Intimidate-->
				<div class="details-row">
					<button type="roll" name="roll_Intimidate-Check" title="Intimidate-Check" value="@{who-skill} Intimidate check: [[@{die_type} + @{Intimidate}]]">Intimidate</button>
                    <b><label>CHA</label></b>
					<input type="number" name="attr_Intimidate" title="Intimidate" value="(@{Intimidate-ability} + @{Intimidate-ranks} + @{Intimidate-other})" disabled/>
					<input type="number" name="attr_Intimidate-ability" title="Intimidate-ability" value="@{charisma-mod}" disabled/>
					<input type="number" name="attr_Intimidate-ranks" title="Intimidate-ranks" value="0"/>
					<input type="number" name="attr_Intimidate-other" title="Intimidate-other" value="0"/>
				</div>
				<!--Investigate-->
				<div class="details-row">
					<button type="roll" name="roll_Investigate-Check" title="Investigate-Check" value="@{who-skill} Investigate check: [[@{die_type} + @{Investigate}]]">Investigate</button>
                    <b><label>INT</label></b>
					<input type="number" name="attr_Investigate" title="Investigate" value="(@{Investigate-ability} + @{Investigate-ranks} + @{Investigate-other})" disabled/>
					<input type="number" name="attr_Investigate-ability" title="Investigate-ability" value="@{intelligence-mod}" disabled/>
					<input type="number" name="attr_Investigate-ranks" title="Investigate-ranks" value="0"/>
					<input type="number" name="attr_Investigate-other" title="Investigate-other" value="0"/>
				</div>
				<!--Knowledge-->
				<div class="details-row speciality-header">
					<label>Knowledge</label>
					<b><label>INT</label></b>
				</div>
				<div class="details-row speciality">
					<button class="die-show" type="roll" name="roll_Knowledge-1-Check" title="Knowledge-1-Check" value="@{who-skill} @{Knowledge-1-name} check: [[@{die_type} + @{Knowledge-1}]]"></button>
					<input type="text" name="attr_Knowledge-1-name" title="Knowledge-1-name"/>
					<input type="number" name="attr_Knowledge-1" title="Knowledge-1" value="(@{Knowledge-1-ability} + @{Knowledge-1-ranks} + @{Knowledge-1-other})" disabled/>
					<input type="number" name="attr_Knowledge-1-ability" title="Knowledge-1-ability" value="@{intelligence-mod}" disabled/>
					<input type="number" name="attr_Knowledge-1-ranks" title="Knowledge-1-ranks" value="0"/>
					<input type="number" name="attr_Knowledge-1-other" title="Knowledge-1-other" value="0"/>
				</div>
				<div class="details-row speciality">
					<button class="die-show" type="roll" name="roll_Knowledge-2-Check" title="Knowledge-2-Check" value="@{who-skill} @{Knowledge-2-name} check: [[@{die_type} + @{Knowledge-2}]]"></button>
					<input type="text" name="attr_Knowledge-2-name" title="Knowledge-2-name"/>
					<input type="number" name="attr_Knowledge-2" title="Knowledge-2" value="(@{Knowledge-2-ability} + @{Knowledge-2-ranks} + @{Knowledge-2-other})" disabled/>
					<input type="number" name="attr_Knowledge-2-ability" title="Knowledge-2-ability" value="@{intelligence-mod}" disabled/>
					<input type="number" name="attr_Knowledge-2-ranks" title="Knowledge-2-ranks" value="0"/>
					<input type="number" name="attr_Knowledge-2-other" title="Knowledge-2-other" value="0"/>
				</div>
				<div class="details-row speciality" style="margin-bottom: 5px;">
					<button class="die-show" type="roll" name="roll_Knowledge-3-Check" title="Knowledge-3-Check" value="@{who-skill} @{Knowledge-3-name} check: [[@{die_type} + @{Knowledge-3}]]"></button>
					<input type="text" name="attr_Knowledge-3-name" title="Knowledge-3-name"/>
					<input type="number" name="attr_Knowledge-3" title="Knowledge-3" value="(@{Knowledge-3-ability} + @{Knowledge-3-ranks} + @{Knowledge-3-other})" disabled/>
					<input type="number" name="attr_Knowledge-3-ability" title="Knowledge-3-ability" value="@{intelligence-mod}" disabled/>
					<input type="number" name="attr_Knowledge-3-ranks" title="Knowledge-3-ranks" value="0"/>
					<input type="number" name="attr_Knowledge-3-other" title="Knowledge-3-other" value="0"/>
				</div>
				<!--Language-->
				<div class="details-row speciality-header">
					<label>Language</label>
					<b><label>-</label></b>
				</div>
				<div class="details-row speciality">
					<button class="die-show" type="roll" name="roll_Language-1-Check" title="Language-1-Check" value="@{who-skill} @{Language-1-name} check: [[@{die_type} + @{Language-1}]]"></button>
					<input type="text" name="attr_Language-1-name" title="Language-1-name"/>
					<input type="number" name="attr_Language-1" title="Language-1" value="(@{Language-1-ability} + @{Language-1-ranks} + @{Language-1-other})" disabled/>
					<input type="number" name="attr_Language-1-ability" title="Language-1-ability" value="0" disabled/>
					<input type="number" name="attr_Language-1-ranks" title="Language-1-ranks" value="0"/>
					<input type="number" name="attr_Language-1-other" title="Language-1-other" value="0"/>
				</div>
				<div class="details-row speciality">
					<button class="die-show" type="roll" name="roll_Language-2-Check" title="Language-2-Check" value="@{who-skill} @{Language-2-name} check: [[@{die_type} + @{Language-2}]]"></button>
					<input type="text" name="attr_Language-2-name" title="Language-2-name"/>
					<input type="number" name="attr_Language-2" title="Language-2" value="(@{Language-2-ability} + @{Language-2-ranks} + @{Language-2-other})" disabled/>
					<input type="number" name="attr_Language-2-ability" title="Language-2-ability" value="0" disabled/>
					<input type="number" name="attr_Language-2-ranks" title="Language-2-ranks" value="0"/>
					<input type="number" name="attr_Language-2-other" title="Language-2-other" value="0"/>
				</div>
				<div class="details-row speciality" style="margin-bottom: 5px;">
					<button class="die-show" type="roll" name="roll_Language-3-Check" title="Language-3-Check" value="@{who-skill} @{Language-3-name} check: [[@{die_type} + @{Language-3}]]"></button>
					<input type="text" name="attr_Language-3-name" title="Language-3-name"/>
					<input type="number" name="attr_Language-3" title="Language-3" value="(@{Language-3-ability} + @{Language-3-ranks} + @{Language-3-other})" disabled/>
					<input type="number" name="attr_Language-3-ability" title="Language-3-ability" value="0" disabled/>
					<input type="number" name="attr_Language-3-ranks" title="Language-3-ranks" value="0"/>
					<input type="number" name="attr_Language-3-other" title="Language-3-other" value="0"/>
				</div>
				<!--Medicine-->
				<div class="details-row">
					<button type="roll" name="roll_Medicine-Check" title="Medicine-Check" value="@{who-skill} Medicine check: [[@{die_type} + @{Medicine}]]">Medicine</button>
                    <b><label>WIS</label></b>
					<input type="number" name="attr_Medicine" title="Medicine" value="(@{Medicine-ability} + @{Medicine-ranks} + @{Medicine-other})" disabled/>
					<input type="number" name="attr_Medicine-ability" title="Medicine-ability" value="@{wisdom-mod}" disabled/>
					<input type="number" name="attr_Medicine-ranks" title="Medicine-ranks" value="0"/>
					<input type="number" name="attr_Medicine-other" title="Medicine-other" value="0"/>
				</div>
				<!--Notice-->
				<div class="details-row">
					<button type="roll" name="roll_Notice-Check" title="Notice-Check" value="@{who-skill} Notice check: [[@{die_type} + @{Notice}]]">Notice</button>
                    <b><label>WIS</label></b>
					<input type="number" name="attr_Notice" title="Notice" value="(@{Notice-ability} + @{Notice-ranks} + @{Notice-other})" disabled/>
					<input type="number" name="attr_Notice-ability" title="Notice-ability" value="@{wisdom-mod}" disabled/>
					<input type="number" name="attr_Notice-ranks" title="Notice-ranks" value="0"/>
					<input type="number" name="attr_Notice-other" title="Notice-other" value="0"/>
				</div>
				<!--Perform-->
				<div class="details-row speciality-header">
					<label>Perform</label>
					<b><label>CHA</label></b>
				</div>
				<div class="details-row speciality">
					<button class="die-show" type="roll" name="roll_Perform-1-Check" title="Perform-1-Check" value="@{who-skill} @{Perform-1-name} check: [[@{die_type} + @{Perform-1}]]"></button>
					<input type="text" name="attr_Perform-1-name" title="Perform-1-name"/>
					<input type="number" name="attr_Perform-1" title="Perform-1" value="(@{Perform-1-ability} + @{Perform-1-ranks} + @{Perform-1-other})" disabled/>
					<input type="number" name="attr_Perform-1-ability" title="Perform-1-ability" value="@{charisma-mod}" disabled/>
					<input type="number" name="attr_Perform-1-ranks" title="Perform-1-ranks" value="0"/>
					<input type="number" name="attr_Perform-1-other" title="Perform-1-other" value="0"/>
				</div>
				<div class="details-row speciality">
					<button class="die-show" type="roll" name="roll_Perform-2-Check" title="Perform-2-Check" value="@{who-skill} @{Perform-2-name} check: [[@{die_type} + @{Perform-2}]]"></button>
					<input type="text" name="attr_Perform-2-name" title="Perform-2-name"/>
					<input type="number" name="attr_Perform-2" title="Perform-2" value="(@{Perform-2-ability} + @{Perform-2-ranks} + @{Perform-2-other})" disabled/>
					<input type="number" name="attr_Perform-2-ability" title="Perform-2-ability" value="@{charisma-mod}" disabled/>
					<input type="number" name="attr_Perform-2-ranks" title="Perform-2-ranks" value="0"/>
					<input type="number" name="attr_Perform-2-other" title="Perform-2-other" value="0"/>
				</div>
				<div class="details-row speciality" style="margin-bottom: 5px;">
					<button class="die-show" type="roll" name="roll_Perform-3-Check" title="Perform-3-Check" value="@{who-skill} @{Perform-3-name} check: [[@{die_type} + @{Perform-3}]]"></button>
					<input type="text" name="attr_Perform-3-name" title="Perform-3-name"/>
					<input type="number" name="attr_Perform-3" title="Perform-3" value="(@{Perform-3-ability} + @{Perform-3-ranks} + @{Perform-3-other})" disabled/>
					<input type="number" name="attr_Perform-3-ability" title="Perform-3-ability" value="@{charisma-mod}" disabled/>
					<input type="number" name="attr_Perform-3-ranks" title="Perform-3-ranks" value="0"/>
					<input type="number" name="attr_Perform-3-other" title="Perform-3-other" value="0"/>
				</div>
				<!--Pilot-->
				<div class="details-row">
					<button type="roll" name="roll_Pilot-Check" title="Pilot-Check" value="@{who-skill} Pilot check: [[@{die_type} + @{Pilot}]]">Pilot</button>
					<b><label>DEX</label></b>
					<input type="number" name="attr_Pilot" title="Pilot" value="(@{Pilot-ability} + @{Pilot-ranks} + @{Pilot-other})" disabled/>
					<input type="number" name="attr_Pilot-ability" title="Pilot-ability" value="@{dexterity-mod}" disabled/>
					<input type="number" name="attr_Pilot-ranks" title="Pilot-ranks" value="0"/>
					<input type="number" name="attr_Pilot-other" title="Pilot-other" value="0"/>
				</div>
				<!--Profession-->
				<div class="details-row speciality-header">
					<label>Profession</label>
					<b><label>WIS</label></b>
				</div>
				<div class="details-row speciality">
					<button class="die-show" type="roll" name="roll_Profession-1-Check" title="Profession-1-Check" value="@{who-skill} @{Profession-1-name} check: [[@{die_type} + @{Profession-1}]]"></button>
					<input type="text" name="attr_Profession-1-name" title="Profession-1-name"/>
					<input type="number" name="attr_Profession-1" title="Profession-1" value="(@{Profession-1-ability} + @{Profession-1-ranks} + @{Profession-1-other})" disabled/>
					<input type="number" name="attr_Profession-1-ability" title="Profession-1-ability" value="@{wisdom-mod}" disabled/>
					<input type="number" name="attr_Profession-1-ranks" title="Profession-1-ranks" value="0"/>
					<input type="number" name="attr_Profession-1-other" title="Profession-1-other" value="0"/>
				</div>
				<div class="details-row speciality">
					<button class="die-show" type="roll" name="roll_Profession-2-Check" title="Profession-2-Check" value="@{who-skill} @{Profession-2-name} check: [[@{die_type} + @{Profession-2}]]"></button>
					<input type="text" name="attr_Profession-2-name" title="Profession-2-name"/>
					<input type="number" name="attr_Profession-2" title="Profession-2" value="(@{Profession-2-ability} + @{Profession-2-ranks} + @{Profession-2-other})" disabled/>
					<input type="number" name="attr_Profession-2-ability" title="Profession-2-ability" value="@{wisdom-mod}" disabled/>
					<input type="number" name="attr_Profession-2-ranks" title="Profession-2-ranks" value="0"/>
					<input type="number" name="attr_Profession-2-other" title="Profession-2-other" value="0"/>
				</div>
				<div class="details-row speciality" style="margin-bottom: 5px;">
					<button class="die-show" type="roll" name="roll_Profession-3-Check" title="Profession-3-Check" value="@{who-skill} @{Profession-3-name} check: [[@{die_type} + @{Profession-3}]]"></button>
					<input type="text" name="attr_Profession-3-name" title="Profession-3-name"/>
					<input type="number" name="attr_Profession-3" title="Profession-3" value="(@{Profession-3-ability} + @{Profession-3-ranks} + @{Profession-3-other})" disabled/>
					<input type="number" name="attr_Profession-3-ability" title="Profession-3-ability" value="@{wisdom-mod}" disabled/>
					<input type="number" name="attr_Profession-3-ranks" title="Profession-3-ranks" value="0"/>
					<input type="number" name="attr_Profession-3-other" title="Profession-3-other" value="0"/>
				</div>
				<!--Stealth-->
				<div class="details-row">
					<button type="roll" name="roll_Stealth-Check" title="Stealth-Check" value="@{who-skill} Stealth check: [[@{die_type} + @{Stealth}]]">Stealth</button>
					<b><label>DEX</label></b>
					<input type="number" name="attr_Stealth" title="Stealth" value="(@{Stealth-ability} + @{Stealth-ranks} + @{Stealth-other})" disabled/>
					<input type="number" name="attr_Stealth-ability" title="Stealth-ability" value="@{dexterity-mod}" disabled/>
					<input type="number" name="attr_Stealth-ranks" title="Stealth-ranks" value="0"/>
					<input type="number" name="attr_Stealth-other" title="Stealth-other" value="0"/>
				</div>
				<!--Search-->
				<div class="details-row">
					<button type="roll" name="roll_Search-Check" title="Search-Check" value="@{who-skill} Search check: [[@{die_type} + @{Search}]]">Search</button>
					<b><label>INT</label></b>
					<input type="number" name="attr_Search" title="Search" value="(@{Search-ability} + @{Search-ranks} + @{Search-other})" disabled/>
					<input type="number" name="attr_Search-ability" title="Search-ability" value="@{intelligence-mod}" disabled/>
					<input type="number" name="attr_Search-ranks" title="Search-ranks" value="0"/>
					<input type="number" name="attr_Search-other" title="Search-other" value="0"/>
				</div>
				<!--Sence Motive-->
				<div class="details-row">
					<button type="roll" name="roll_SenceMotive-Check" title="SenceMotive-Check" value="@{who-skill} SenceMotive check: [[@{die_type} + @{SenceMotive}]]">Sence Motive</button>
					<b><label>WIS</label></b>
					<input type="number" name="attr_SenceMotive" title="SenceMotive" value="(@{SenceMotive-ability} + @{SenceMotive-ranks} + @{SenceMotive-other})" disabled/>
					<input type="number" name="attr_SenceMotive-ability" title="SenceMotive-ability" value="@{wisdom-mod}" disabled/>
					<input type="number" name="attr_SenceMotive-ranks" title="SenceMotive-ranks" value="0"/>
					<input type="number" name="attr_SenceMotive-other" title="SenceMotive-other" value="0"/>
				</div>
				<!--Sleight of Hand-->
				<div class="details-row">
					<button type="roll" name="roll_SleightOfHand-Check" title="SleightOfHand-Check" value="@{who-skill} SleightOfHand check: [[@{die_type} + @{SleightOfHand}]]">Sleight of Hand</button>
					<b><label>DEX</label></b>
					<input type="number" name="attr_SleightOfHand" title="SleightOfHand" value="(@{SleightOfHand-ability} + @{SleightOfHand-ranks} + @{SleightOfHand-other})" disabled/>
					<input type="number" name="attr_SleightOfHand-ability" title="SleightOfHand-ability" value="@{dexterity-mod}" disabled/>
					<input type="number" name="attr_SleightOfHand-ranks" title="SleightOfHand-ranks" value="0"/>
					<input type="number" name="attr_SleightOfHand-other" title="SleightOfHand-other" value="0"/>
				</div>
				<!--Stealth-->
				<div class="details-row">
					<button type="roll" name="roll_Stealth-Check" title="Stealth-Check" value="@{who-skill} Stealth check: [[@{die_type} + @{Stealth}]]">Stealth</button>
					<b><label>DEX</label></b>
					<input type="number" name="attr_Stealth" title="Stealth" value="(@{Stealth-ability} + @{Stealth-ranks} + @{Stealth-other})" disabled/>
					<input type="number" name="attr_Stealth-ability" title="Stealth-ability" value="@{dexterity-mod}" disabled/>
					<input type="number" name="attr_Stealth-ranks" title="Stealth-ranks" value="0"/>
					<input type="number" name="attr_Stealth-other" title="Stealth-other" value="0"/>
				</div>
				<!--Survival-->
				<div class="details-row">
					<button type="roll" name="roll_Survival-Check" title="Survival-Check" value="@{who-skill} Survival check: [[@{die_type} + @{Survival}]]">Survival</button>
					<b><label>WIS</label></b>
					<input type="number" name="attr_Survival" title="Survival" value="(@{Survival-ability} + @{Survival-ranks} + @{Survival-other})" disabled/>
					<input type="number" name="attr_Survival-ability" title="Survival-ability" value="@{wisdom-mod}" disabled/>
					<input type="number" name="attr_Survival-ranks" title="Survival-ranks" value="0"/>
					<input type="number" name="attr_Survival-other" title="Survival-other" value="0"/>
				</div>
				<!--Swim-->
				<div class="details-row">
					<button type="roll" name="roll_Swim-Check" title="Swim-Check" value="@{who-skill} Swim check: [[@{die_type} + @{Swim}]]">Swim</button>
					<b><label>STR</label></b>
					<input type="number" name="attr_Swim" title="Swim" value="(@{Swim-ability} + @{Swim-ranks} + @{Swim-other})" disabled/>
					<input type="number" name="attr_Swim-ability" title="Swim-ability" value="@{wisdom-mod}" disabled/>
					<input type="number" name="attr_Swim-ranks" title="Swim-ranks" value="0"/>
					<input type="number" name="attr_Swim-other" title="Swim-other" value="0"/>
				</div>

				<div class="details-row total-row">
					<b>Total Ranks</b>
                    <input type="number" name="attr_total-skill-ranks" title="total-skill-ranks" value="(@{Acrobatics-ranks} + @{Athletics-ranks} + @{Close-Combat-1-ranks}+ @{Close-Combat-2-ranks} + @{Close-Combat-3-ranks} + @{Deception-ranks} + @{Expertise-1-ranks} + @{Expertise-2-ranks} + @{Expertise-3-ranks} + @{Expertise-4-ranks} + @{Insight-ranks} + @{Intimidation-ranks} + @{Investigation-ranks} + @{Perception-ranks} + @{Persuasion-ranks} + @{Ranged-Combat-1-ranks} + @{Ranged-Combat-2-ranks} + @{Ranged-Combat-3-ranks} + @{Sleight-of-hand-ranks} + @{Stealth-ranks} + @{Technology-ranks} + @{Treatment-ranks} + @{Vehicles-ranks})" disabled/>
				</div>
            </div>
            <br />

            <!-- Notes & Conditions -->
            <div class="section-notes">
                <b>Notes & Conditions</b>
                <br />
                <textarea name="attr_notes" title="notes"></textarea>
            </div>
        </div>
    <br />

    <!-- Motivations & Complications -->
    <div class="section-complications">
    	<b>Motivations & Complications</b>
		<br />
		<fieldset class="repeating_complication">
			<input type="text" name="attr_name" title="repeating_complication_X_name" value="" placeholder="Name" />
			<textarea name="attr_description" title="repeating_complication_X_description" placeholder="Description"></textarea>
		</fieldset>
	</div>
	</div>
</div>

<!-- ---------------------------------- -->
<!-- Page 2 (Powers, Advantages & Gear) -->
<!-- ---------------------------------- -->
<div class="sheet-tab-content sheet-tab2">
    <input type="hidden" name="attr_subtab" class="tab" value="all"/>
    <button type="action" name="act_all">All</button>
    <button type="action" name="act_devices">Powers & Devices</button>
    <button type="action" name="act_advantages">Advantages</button>
    <button type="action" name="act_equipment">Equipment</button>
    
    <!-- Powers & Devices -->    
    <div class="sheet-tab-content sheet-tab11 sheet-tab99">
        <div class="section-powers">
        	<label>Powers & Devices</label>
    		<label>Ranks</label>
    		<label>Points Per Rank</label>
    		<label>Misc</label>
    		<label>Total</label>
    		<fieldset class="repeating_power">
    		    <button class="die-show" type="roll" name="attr_adv" title="adv" value="@{who-effects} &amp;{template:default} {{name=@{character_name} - @{name}}} {{@{description}}}" class="btn ui-draggable"></button>
    			<input type="text" name="attr_name" title="repeating_power_X_name" value="" placeholder="Name" />
    			<input type="number" name="attr_ranks" title="repeating_power_X_ranks" value="1"/>
    			<input type="number" name="attr_points-per-rank" title="repeating_power_X_points-per-rank" value="1"/>
    			<input type="number" name="attr_misc-points" title="repeating_power_X_misc-points" value="0"/>
    			<input type="number" name="attr_total-cost" title="repeating_power_X_total-cost" value="1" />
                <br />
    			<b>Options</b>
        		<input type="checkbox" class="macro-show" title="repeating_attacks_X_macro-text-show" name="attr_macro-text-show" value="1" />
                <span></span>
    			<div class="macro">
        			<input type="radio" name="attr_alternate-effect" title="repeating_power_X_alternate-effect" value="0" checked="true" /><b>Normal power</b>
        			<input type="radio" name="attr_alternate-effect" title="repeating_power_X_alternate-effect" value="1" /><b>Alternate effect</b>
        			<input type="radio" name="attr_alternate-effect" title="repeating_power_X_dynamic-alternate-effect" value="2" /><b>Dynamic alternate effect</b>
        		</div>
                <br />
    			<textarea name="attr_description" title="repeating_power_X_description" placeholder="Description"></textarea>
    			<hr>
    		</fieldset>
    	</div>
        <br />
    </div>

    <!-- Advantages --> 
    <div class="sheet-tab-content sheet-tab12 sheet-tab99">
        <div class="section-advantages">
            <b>Advantages</b>
            <fieldset class="repeating_advantage">
                <button class="die-show" type="roll" name="attr_adv" title="adv" value="@{who-effects} &amp;{template:default} {{name=@{character_name} - @{name}}} {{@{description}}}" class="btn ui-draggable"></button>
                <input type="number" name="attr_ranks" title="repeating_advantage_X_ranks" value="1"/>
                <input type="text" name="attr_name" title="repeating_advantage_X_name" value="" placeholder="Name" />
                <textarea name="attr_description" title="repeating_advantage_X_description" placeholder="Description"></textarea>
                <hr>
            </fieldset>
        </div>
        <br />
        <input type="checkbox" class="sheet-secret-macro-show" name="attr_use-wealth-rules" value="1"/><span></span>
        <div class="sheet-macro">
            <div class="section-wealth">
            	<b>Wealth</b>
    			<br />
    			<button class="die-show" type="roll" name="roll_Wealth" title="Wealth-Check" value="@{who-skill} Wealth check: [[@{die_type} + @{Wealth}]]"></button>
    			<input type="number" name="attr_Wealth" title="Wealth" value="8"/>
    			<input class="sheet-no-border" type="text" name="attr_wealth-description" value="Middle Class" />
    		</div>
    	</div>
        <br />
    </div>

    <!-- Equipment, Vehicles, and Headquarters --> 
    <div class="sheet-tab-content sheet-tab13 sheet-tab99">
    	<div class="section-equipment">
    		<b>Equipment, Vehicles, and Headquarters</b>
    		<fieldset class="repeating_equipment">
    		    <button class="die-show" type="roll" name="attr_adv" title="adv" value="@{who-effects} &amp;{template:default} {{name=@{character_name} - @{name}}} {{@{description}}}" class="btn ui-draggable"></button>
    			<input type="number" name="attr_cost" title="repeating_equipment_X_cost" value="1"/>
    			<input type="text" name="attr_name" title="repeating_equipment_X_name" value="" placeholder="Name" />
    			<textarea name="attr_description" title="repeating_equipment_X_description" placeholder="Description"></textarea>
    			<hr>
    		</fieldset>
        </div>
	</div>
</div>

<!-- --------------------------------- -->
<!--         Page 3 (Options)          -->
<!-- --------------------------------- -->
<div class="sheet-tab-content sheet-tab3">
	<div class="section-import">
		<b>Options</b>
		<br />
	</div>
	<div class="section-options">
		<div class="details-row">
			<b>Roll Target - Stats: </b>
			<label class="sheet-small-label1">
				<select name="attr_who-stat" title="@{who-stat}">
					<option value="@{character_name}'s">Public</option>
					<option value="/em 's" selected>Public Emote</option>
					<option value="/w gm @{character_name}'s">Whisper GM</option>
					<option value="/w @{character_name}">Whisper Self</option>
				</select>
			</label>
		</div>
		<div class="details-row">
			<b>Roll Target - Combat: </b>
			<label class="sheet-small-label1">
				<select name="attr_who-combat" title="@{who-combat}">
				<option value="@{character_name}'s">Public</option>
				<option value="/em 's" selected>Public Emote</option>
				<option value="/w gm @{character_name}'s">Whisper GM</option>
				<option value="/w @{character_name}">Whisper Self</option>
				</select>
			</label>
		</div>
		<div class="details-row">
			<b>Roll Target - Initiative: </b>
			<label class="sheet-small-label1">
				<select name="attr_who-initiative" title="@{who-initiative}">
				<option value=" ">Public</option>
				<option value="/w gm " selected>Whisper GM</option>
				<option value="/w @{character_name}">Whisper Self</option>
				</select>
			</label>
		</div>
		<div class="details-row">
			<b>Roll Target - Skill: </b>
			<label class="sheet-small-label1">
				<select name="attr_who-skill" title="@{who-skill}">
				<option value="@{character_name}'s">Public</option>
				<option value="/em 's" selected>Public Emote</option>
				<option value="/w gm @{character_name}'s">Whisper GM</option>
				<option value="/w @{character_name}">Whisper Self</option>
				</select>
			</label>
		</div>
		<div class="details-row">
			<b>Roll Target - Effects: </b>
			<label class="sheet-small-label1">
				<select name="attr_who-effects" title="@{who-effects}">
				<option value="@{character_name}'s">Public</option>
				<option value="/em 's" selected>Public Emote</option>
				<option value="/w gm @{character_name}'s">Whisper GM</option>
				<option value="/w @{character_name}">Whisper Self</option>
				</select>
			</label>
		</div>
		<div class="details-row">
			<b>Dice Roll Type: </b>
			<label class="sheet-small-label1">
				<select name="attr_die_type" title="@{die_type}">
				<option value="1d20" selected>Standard 1d20</option>
				<option value="3d20k2dh1">3d20 Gamematers Guide</option>
				<option value="3d6cs>16">Sum 3d6</option>
				</select>
			</label>
		</div>
	</div>
</div>

<div class="sheet-mnm-footer">
	<img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Mutants%20and%20Masterminds%203E/logo_powered.png" class="sheet-mnm-logo">
</div>


<script type="text/worker">

    ["stats", "powers", "options"].forEach((button) => {
        on(`clicked:${button}`, (eventinfo) => {
            setAttrs({ tab: button });
        });
    });

    ["devices", "advantages", "equipment", "all"].forEach((button) => {
        on(`clicked:${button}`, (eventinfo) => {
            setAttrs({ subtab: button });
        });
    });


    function clearLog() {
        setAttrs({"output-message": "", "hide-output": "1"}, {silent: true});
    }
    
    function log(value) {
        setAttrs({"output-message": value, "hide-output": "0"}, {silent: true});
        console.log(value);
    };
    
    function pluralize(count, thing, singular, plural) {
        if(!singular) {
            singular = "";
        }
        if(!plural) {
            plural = "s";
        }
        
        return count + " " + thing
            + (count == 1 ? singular : plural);
    }
    
    try {
        var equipmentRowID = null;
        
        /**
         * @param repeatingName - The word that comes after "repeating_" in the
         * attribute name. For instance, if you want to find
         * "repeating_equipment_$0_name", then this should be "equipment".
         * 
         * @param suffixes - An array of words identifying which parts of the
         * repeating attribute you want. For instance, if you want
         * "repeating_equipment_$0_name" and "repeating_equipment_$0_description",
         * then this should be ["name", "description"].
         * 
         * @param callback - A function that takes an array of objects. This
         * will be called once the attributes have been found. Each object in
         * the array will contain a property for each string in suffixes, mapped
         * to the value of that attribute. The objects won't be in order, but
         * they will include the repeating section id. If you passed the values
         * mentioned above, then this might return the following array:
         * [
         *     {id:"ABC", name:"Sword", description:""},
         *     {id:"DEF", name:"Shield", description:"A simple wooden buckler."}
         * ]
         */
        function getRepeatingAttributes(repeatingName, suffixes, callback) {
            getSectionIDs("repeating_" + repeatingName, function(idArray) {
                var attributeNames = [];
                for(var suffix of suffixes) {
                    for(var id of idArray) {
                        attributeNames.push("repeating_" + repeatingName
                            + "_" + id + "_" + suffix);
                    }
                }
                
                getAttrs(attributeNames, function(attributes) {
                    var result = [];
                    for(var id of idArray) {
                        var attributeSection = {id:id};
                        result.push(attributeSection);
                        
                        for(var suffix of suffixes) {
                            attributeSection[suffix] = attributes["repeating_"
                                + repeatingName + "_" + id + "_" + suffix];
                        }
                    }
                    
                    callback(result);
                });
            });
        }
        /**
         * Like getRepeatingAttributes, but puts the array in order.
         */
        function getRepeatingAttributesOrdered(repeatingName, suffixes, callback) {
            getRepeatingAttributes(repeatingName, suffixes, function(attributes) {
                getSectionIDsOrdered(repeatingName, function(idsOrdered) {
                    var result = [];
                    
                    for(var id of idsOrdered) {
                        for(var attribute of attributes) {
                            if(attribute.id === id) {
                                result.push(attribute);
                                break;
                            }
                        }
                    }
                    
                    callback(result);
                });
            }, true);
        }
        
        function recountAll() {
            console.log("Recounting everything:");
            recountPowers(true);
            recountAdvantages(recountEquipment);
        }
        
        /**
         * @param calculateCost - Set this to true if all powers should be
         * calculated, or to a row ID if you only want to recalculate one. Make
         * sure to convert the row ID to lowercase if it isn't already (this
         * will happen automatically if you extract it from eventInfo).
         */
        function recountPowers(calculateCost, doneCallback) {
            var suffixes;
            if(calculateCost) {
                suffixes = ["ranks", "points-per-rank", "misc-points", "total-cost",
                    "alternate-effect"];
            } else {
                suffixes = ["total-cost"];
            }
            
            getRepeatingAttributesOrdered("power", suffixes, function(powers) {
                var total = 0;
                for(var power of powers) {
                    if(calculateCost === true || calculateCost === power.id.toLowerCase()) {
                        power["total-cost"] = calculatePowerCost(powers, power);
                    }
                    total += parseInt(power["total-cost"]);
                }
                setAttrs({"power-points": total}, {silent: true});
                console.log("Spent " + pluralize(total, "point") + " on powers.");
                
                if(doneCallback) {
                    doneCallback();
                }
            });
        }
        
        /**
         * Given a complete array of ordered powers and one entry out of that
         * array, calculates the total cost of that power. This updates the
         * attribute (asynchronously), and also updates the power object
         * in-place.
         */
        function calculatePowerCost(orderedPowers, power) {
            var total = parseInt(power.ranks) * parseFloat(power["points-per-rank"])
                + parseInt(power["misc-points"]);
            
            //If this is an alternate effect, find the effect it's based
            //on and make sure this is cheaper (or the same price).
            if(power["alternate-effect"] === "1" || power["alternate-effect"] === "2") {
                var index = orderedPowers.indexOf(power);
                if(index < 0) {
                    return parseInt(power["total-cost"]);
                } else if(index == 0) {
                    log("Your first power can't be an alternate effect. Try rearranging your powers.");
                    let values = {};
                    values["repeating_power_" + power.id + "_alternate-effect"] = "0";
                    setAttrs(values, {silent: true});
                    return parseInt(power["total-cost"]);
                }
                
                for(var i = index - 1; i >= 0; i--) {
                    let effectStatus = orderedPowers[i]["alternate-effect"];
                    if(effectStatus !== "1" && effectStatus !== "2") {
                        //Check the cost.
                        if(total > parseInt(orderedPowers[i]["total-cost"])) {
                            log("An alternate effect can't cost more than the primary effect. (Current cost: "
                                + total + ", maximum allowed cost: " + orderedPowers[i]["total-cost"] + ".)");
                            break;
                        } else {
                            //Success!
                            let values = {};
                            values["repeating_power_" + power.id + "_total-cost"] =
                                power["total-cost"] = power["alternate-effect"];
                            setAttrs(values, {silent: true});
                            return parseInt(power["total-cost"]);
                        }
                    } else if(i == 0) {
                        log("Your first power can't be an alternate effect. Try rearranging your powers.");
                    }
                }
                
                //If none was found or if the cost was wrong,
                //then this isn't a valid alternate effect.
                let values = {};
                values["repeating_power_" + power.id + "_alternate-effect"] = "0";
                setAttrs(values, {silent: true});
            }
            
            let values = {};
            values["repeating_power_" + power.id + "_total-cost"] = "" + Math.ceil(total);
            setAttrs(values, {silent: true});
            
            console.log("Power " + orderedPowers.indexOf(power) + " costs " + Math.ceil(total));
            
            return Math.ceil(total);
        }
        
        function recountAdvantages(doneCallback) {
            getAttrs(["Wealth"], function(dict) {
                var wealth = 8;
                if(dict["Wealth"]) {
                    wealth = parseInt(dict["Wealth"]);
                }
                if(!wealth || wealth < 0) {
                    wealth = 0;
                    setAttrs({Wealth:0});
                }
                
                getRepeatingAttributes("advantage", ["name", "ranks"], function(advantages) {
                    var total = Math.ceil(wealth / 4) - 2;
                    equipmentRowID = null;
                    
                    for(var advantage of advantages) {
                        total += parseInt(advantage.ranks);
                        
                        if(advantage.name && advantage.name.toLowerCase() === "equipment") {
                            equipmentRowID = advantage.id;
                            
                            var ranks = parseInt(advantage.ranks);
                            if(ranks) {
                                setAttrs({"equipment-points":ranks * 5}, {silent: true});
                            } else {
                                setAttrs({"equipment-points":5}, {silent: true});
                            }
                        }
                    }
                    
                    setAttrs({"advantage-points": total}, {silent: true});
                    
                    console.log("Spent " + pluralize(total, "point") + " on advantages.");
                    
                    if(doneCallback) {
                        doneCallback();
                    }
                });
            });
        }
        
        function recountEquipment(doneCallback) {
            getRepeatingAttributes("equipment", ["cost"], function(equipment) {
                var total = 0;
                
                for(var e of equipment) {
                    total += parseInt(e.cost);
                }
                
                getAttrs(["equipment-points"], function(attr) {
                    var maximum = 0;
                    if(attr["equipment-points"]) {
                        maximum = parseInt(attr["equipment-points"]);
                    }
                    
                    if(total > maximum) {
                        var ranks = Math.ceil(total / 5);
                        log("Buying " + pluralize(total, "point") + " of equipment requires "
                            + pluralize(ranks, "rank") + " of the Equipment advantage.");
                    } else {
                        getAttrs(["output-message"], function(dict) {
                            if(dict["output-message"].endsWith(" of the Equipment advantage.")) {
                                clearLog();
                            }
                        });
                    }
                    
                    if(doneCallback) {
                        doneCallback();
                    }
                });
            });
        }
        
        on("sheet:opened", function() {
            clearLog();
            
            getAttrs(["equipment-points"], function(attr) {
                if(!attr["equipment-points"]) {
                    recountAll();
                } else {
                    getRepeatingAttributes("advantage", ["name"], function(advantages) {
                        for(var advantage of advantages) {
                            if(advantage.name.toLowerCase() === "equipment") {
                                equipmentRowID = advantage.id;
                                break;
                            }
                        }
                    });
                }
            });
        });
        
        function getSectionIDsOrdered(sectionName, callback) {
            'use strict';
            getAttrs([`_reporder_repeating_${sectionName}`], function(v) {
                getSectionIDs(sectionName, function(idArray) {
                    let reporderArray = v[`_reporder_repeating_${sectionName}`]
                        ? v[`_reporder_repeating_${sectionName}`].toLowerCase().split(',') : [],
                    ids = [...new Set(reporderArray.filter(x => idArray.includes(x)).concat(idArray))];
                    callback(ids);
                });
            });
        }
        
        on("change:repeating_power:name", function(eventInfo) {
            if(eventInfo.sourceType !== "sheetworker"
                //These values are only ever equal when the attribute is first set.
                && eventInfo.newValue == eventInfo.previousValue) {
                var rowID = eventInfo.sourceAttribute.substr("repeating_power_".length, 20);
                recountPowers(rowID);
            }
        });
        on("change:repeating_power:ranks change:repeating_power:points-per-rank "
                + "change:repeating_power:misc-points change:repeating_power:alternate-effect", function(eventInfo) {
            if(eventInfo.sourceType !== "sheetworker") {
                var rowID = eventInfo.sourceAttribute.substr("repeating_power_".length, 20);
                recountPowers(rowID);
            }
        });
        on("change:repeating_power:total-cost remove:repeating_power", function(eventInfo) {
            if(eventInfo.sourceType !== "sheetworker") {
                recountPowers();
            }
        });
        
        on("change:repeating_advantage:ranks", function(eventInfo) {
            if(eventInfo.sourceType !== "sheetworker") {
                if(eventInfo.sourceAttribute.toLowerCase().indexOf(equipmentRowID) >= 0) {
                    recountAdvantages(recountEquipment);
                } else {
                    recountAdvantages();
                }
            }
        });
        on("change:repeating_advantage:name", function(eventInfo) {
            if(eventInfo.previousValue.toLowerCase() === "equipment") {
                setAttrs({"equipment-points":0}, function() {
                    recountAdvantages(recountEquipment);
                });
            } else if(eventInfo.newValue.toLowerCase() === "equipment"
                || eventInfo.sourceType !== "sheetworker"
                && eventInfo.newValue == eventInfo.previousValue) {
                recountAdvantages(recountEquipment);
            }
        });
        on("remove:repeating_advantage", function(eventInfo) {
            if(eventInfo.sourceAttribute.toLowerCase().indexOf(equipmentRowID) >= 0) {
                setAttrs({"equipment-points":0}, function() {
                    recountAdvantages(recountEquipment);
                });
            } else {
                recountAdvantages();
            }
        });
        
        on("change:Wealth", function(eventInfo) {
            if(eventInfo.sourceType !== "sheetworker") {
                if(eventInfo.newValue !== undefined) {
                    onGotNewValue({Wealth:eventInfo.newValue});
                } else {
                    getAttrs(["Wealth"], onGotNewValue);
                }
                
                function onGotNewValue(data) {
                    var wealth = parseInt(data["Wealth"]);
                    
                    var description;
                    if(wealth <= 0) {
                        description = "Impoverished";
                    } else if(wealth <= 4) {
                        description = "Struggling";
                    } else if(wealth <= 10) {
                        description = "Middle Class";
                    } else if(wealth <= 15) {
                        description = "Affluent";
                    } else if(wealth <= 20) {
                        description = "Wealthy";
                    } else if(wealth <= 30) {
                        description = "Rich";
                    } else {
                        description = "Filthy Rich";
                    }
                    
                    setAttrs({"wealth-description": description}, {silent: true});
                    
                    recountAll();
                }
            }
        });
        
        
        on("change:repeating_equipment:name", function(eventInfo) {
            if(eventInfo.sourceType !== "sheetworker"
                && eventInfo.newValue == eventInfo.previousValue) {
                recountEquipment();
            }
        });
        on("change:repeating_equipment:cost remove:repeating_equipment", function(eventInfo) {
            if(eventInfo.sourceType !== "sheetworker") {
                recountEquipment();
            }
        });
        
        on("change:output-message", function(eventInfo) {
            if(eventInfo.sourceType !== "sheetworker") {
                clearLog();
            }
        });
    } catch(e) {
        log("Encountered an error: " + e);
    }
</script>

